# Synthea generated data
data/

# MinIO data
minio_data/

# Environment variables
.env

# IDE
.vscode/
.antigravitycli/

# Python
__pycache__/
*.pyc
*.pyo
.python-version

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/.user.yml
dbt_project/dbt_packages/

# Airflow
logs/
airflow.db
